<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    {% load static %}
    <link
      href="{% static 'subject/style.css' %}"
      type="text/css"
      rel="stylesheet"
    />
    <script src="{% static 'subject/subject.js' %}"></script>
    <title>과목 추가</title>
  </head>
  <body>
    <section>
      <header>
        <div class="app_title">학습 관리 시스템</div>
      </header>
    </section>
    <section>
      <form method="POST">
        {% csrf_token %} {{ form.category_key.label_tag }} {{form.category_key}}
        <br />
        {{form.name.label_tag }} {{ form.name }}
        <button type="submit">등록</button>
        <button
          type="button"
          id="add_subject"
          onclick="location.href='{% url 'category_manage_view' %}'"
        >
          카테고리 설정
        </button>
        <button
          type="button"
          id="add_subject"
          onclick="location.href='{% url 'subject_main_view' %}'"
        >
          이전화면
        </button>
      </form>
    </section>
  </body>
</html>
