<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    {% load static %}
    <link
      href="{% static 'subject/style.css' %}"
      type="text/css"
      rel="stylesheet"
    />
    <script src="{% static 'subject/subject.js' %}"></script>
    <title>과목 관리</title>
  </head>
  <body>
    <section>
      <header>
        <div class="app_title">학습 관리 시스템</div>
      </header>
    </section>
    <section>
      <form method="POST" action="/subject/delete/">
        {% csrf_token %}
        <section>
          <button type="button" id="select_all">전체 선택</button>
          <button type="submit">삭제</button>
          <button
            type="button"
            id="add_subject"
            onclick="location.href='{% url 'subject_add_view' %}'"
          >
            과목 추가
          </button>
        </section>
        <hr />
        {% for i in data %}
        <div>{{ i.category.name }}</div>
        <hr />
        {% if i.subjects %} {% for subject in i.subjects %}
        <input
          type="checkbox"
          class="subject_checkbox"
          name="select"
          value="{{ subject.subject_key }}"
        />
        {{ subject.name }} {% endfor %} {% else %}
        <div>등록된 과목이 없습니다.</div>
        {% endif %} {% endfor %}
      </form>
    </section>
  </body>
</html>
